<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Annos raaka-aine</title>
    </head>

    <body>
        <ul>
                <li>th:text="${annosRaakaAine.jarjestys}">Järjestysnumero</li>
                <li>th:text="${annosRaakaAine.maara}">Määrä grammaa tai desilitraa.</li>
                <li>th:text="${annosRaakaAine.ohje}">Valmistusohjeet</li>
        </ul>
        
        
        <ul>
            <li>
                <a href="../annokset">Smoothielistaukseen</a>
            </li>
        </ul>

    </body>
</html>