<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Annos raaka-aineet</title>
    </head>

    <body>
        <h1>Annos raaka-aineet:</h1>

        <ol>                                                        
            <li th:each= "annosRaakaAine: ${annosResepti}">
                <span th:text="${annosRaakaAine.name}">annosraaka-aineen nimi</span> <a th:href="@{~/{annosRaakaAine}/(annosRaakaAine=${annosRaakaAine},{id}(id=${annosRaakaAine.id})}">linkki</a>
            </li>
        </ol>
        
        <ul>
            <li>
                <a href="/annokset">Smoothielistaukseen</a>
            </li>
        </ul>
        
    </body>
</html>