<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Annos raaka-aineet</title>
    </head>

    <body>
        <h1>Annos raaka-aineet:</h1>

        <ol>
            <li th:each= "annosRaakaAine: ${annosRaakaAineet}">
               <p>Jarjestys<span th:text="${Integer.parseInt(annosRaakaAine.jarjestys)}">jarjestys</span></p>
                <p>Maara<span th:text="${Integer.parseInt(annosRaakaAine.maara)}"> grammaa tai desilitraa</span></p> 
                <p>Valmistusohje<span th:text="${annosRaakaAine.ohje}">ohje</span></p>
            </li>
        </ol>

        <ul>
            <li>
                <a href="/annokset">Smoothielistaukseen</a>
            </li>
        </ul>

    </body>
</html>

