<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Annos raaka-aineet</title>
    </head>

    <body>
        <h1>Annos raaka-aineet:</h1>

        <ol>
            <li th:each= "annosRaakaAine: ${annosResepti}">
                <span th:text="${annosRaakaAine.get_Raaka_aine_id()}">Valmistusohjeet ?</span> <a th:href="${'/annosRaakaAine/' + annosRaakaAine.get_Raaka_aine_id()}">linkki</a>
            </li>
        </ol>
        
        <ul>
            <li>
                <a href="../annokset">Smoothielistaukseen</a>
            </li>
        </ul>
        
    </body>
</html>