<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Raaka-aineet</title>
    </head>

    <body>
        <h1>Raaka-aineet:</h1>

        <ul>                                        
            <li th:each="raakaAine: ${raakaAineet}">
                <a th:text="${raakaAine.nimi}" th:href="${'/raakaAine/' + raakaAine.id}"></a>
            </li>
        </ul>
        
        <ul>
            <li>
                <a href="/annokset">Smoothielistaukseen</a>
            </li>
        </ul>
        
    </body>
</html>