<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>New smoothie</title>
    </head>

    <body>
        <h2>Smoothiet:</h2>

        <ul>
            <li th:each="annos: ${annokset}">
                <span th:text="${annos.nimi}"> annoksen nimi </span>
                <a th:href="${'/annosRaakaAine/' + annos.id}"> annoksen raaka-aineet </a>
                (<a th:href="${'/poistaAnnos/' + annos.nimi}">poista</a>)
            </li>
        </ul>

        <h4>Lisaa uusi</h4>

        <form method="POST" action="/uusiAnnos/:nimi">
            Smoothien nimi:<br/>
            <input type="text" name="nimi" maxlength="100" required="required"/>
            <input type="submit" value="Lisaa"/>
        </form>

        <h4>Miksaa annokseen uusi raaka-aine</h4>

        <form method="POST" action="/lisaaRaakaAineReseptiin">
            Smoothien nimi:<br/>
            <select th:field="*{annos}">
              <option th:each="annos : ${annokset}" th:value="${annos.nimi}" th:text="#{${annos.nimi}}">smoothien nimi</option>
            </select>
            <br/>
            <br/>
            
            Lisaa raaka-aine<br/>
            <select th:field="*{raakaAine}">
              <option th:each="raakaAine : ${raakaAineet}" th:value="${raakaAine.nimi}" th:text="#{${raakaAine.nimi}}">raaka-aineen nimi</option>
            </select>
            <br/>


            <br/>
            Jarjestys<br/>
            <input type="text" name="jarjestys" required="required"/><br/>
            Maara<br/>
            <input type="text" name="maara" required="required"/><br/>
            Ohje<br/>
            <input type="text" name="ohje" maxlength="255" required="required" /><br/>
            <input type="submit" value="Lisaa"/>
        </form>

        <ul>
            <li>
                <a href="/annokset">Smoothielistaukseen</a>
            </li>
        </ul>
    </body>
</html>