<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Muuta raaka-aineita</title>
    </head>
    <body>
        <h2>Raaka-aineet</h2>

        <ul>
            <li th:each="raakaAine: ${raakaAineet}">     
                <span th:text="${raakaAine.nimi}">raaka-aineen nimi</span><a th:href="${'/poistaRaakaAine/' + raakaAine.nimi}"> (poista)</a>
            </li>
        </ul>

        <h4>Anna uusi raaka-aine</h4>

        <form method="POST" action="/uusiRaakaAine/:nimi">
            Raaka-aineen nimi:<br/>
            <input type="text" name="nimi" required="required"/><br/>
            <input type="submit" value="Lisaa"/>
        </form>

        <ul>
            <li>
                <a href="/annokset">Smoothielistaukseen</a>
            </li>
        </ul>
    </body>
</html>