<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Smoothiet</title>
    </head>

    <body>

        <h2>Smoothiet</h2>

        <ul>
            <li th:each="annos: ${annokset}">
                <a th:href="${annos.nimi}">annoksen nimi</a> <a th:href="${'/findSmoothie/' + annos.id}">annoksen raaka-aineet</a> (<a th:href="${'/poistaAnnos/' + annos.nimi}}">poista</a>)
            </li>
        </ul>


        <h4>Lisaa uusi</h4>

        <form method="POST" action="/uusiAnnos/:nimi">
            Smoothien nimi:<br/>
            <input type="text" name="nimi" maxlength="100" required="required"/><br/>
            <input type="submit" value="Lisaa"/>
            <ul>
                <li th:each="annos: ${annokset}">
                    <select name="nimi">
                        <option th:text="${annos.nimi}">Smoothie</option>
                    </select>
                </li>
            </ul>
        </form>

        <h4>Miksaa annokseen uusi raaka-aine</h4>

        <form method="POST" action="/lisaaRaakaAineReseptiin">
            Smoothien nimi:<br/>
            <input type="text" name="annoksenNimi" maxlength="100" required="required"/><br/>
            <br/>
            Uusi raaka-aine<br/>
            <input type="text" name="raakaAineenNimi" maxlength="100" required="required"/><br/>
            <ul>
                <li th:each="raakaAine: ${raakaAineet}">
                    <select name="raakaAineenNimi">
                        <option th:text="${raakaAine.nimi}">Smoothie</option>
                    </select>
                </li>
            </ul>
            <br/>
            Jarjestys<br/>
            <input type="text" name="jarjestys" required="required"/><br/>
            Maara<br/>
            <input type="text" name="maara" required="required"/><br/>
            Ohje<br/>
            <input type="text" name="ohje" maxlength="255" required="required" /><br/>
            <input type="submit" value="Lisaa"/>
        </form>

        <ul>
            <li>
                <a href="/annokset">Smoothielistaukseen</a>
            </li>
        </ul>
    </body>
</html>